/* Write your CSS here */
.background-container {
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.light-dark-mode-container1 {
  height: 200px;
  width: 380px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
}
.light-dark-mode-container2 {
  height: 200px;
  width: 380px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
}
.heading1 {
  color: white;
  text-align: center;
  font-family: 'Roboto';
}
.heading2 {
  color: black;
  text-align: center;
  font-family: 'Roboto';
}
.light-mode {
  background-color: white;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  color: black;
  font-family: 'Roboto';
  margin-left: 145px;
}
.dark-mode {
  background-color: black;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  color: white;
  font-family: 'Roboto';
  margin-left: 145px;
}
